.card-section_container {
  display: flex;
  max-width: 1440px;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .card-section_container {
    flex-direction: column;
  }
}
