.card-section_container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  .card-section_container {
    flex-direction: column;
    max-width: 375px;
  }
}
