/* Genereal Rules */
.card-data_contianer {
  height: 600px;
  border: 1px solid;
}

.card-data_contianer h1 {
  font-family: var(--font-family-two);
}

.card-data_contianer p {
  font-family: var(--font-family-one);
}

.card-data_contianer button {
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 50px;
  border-style: none;
  font-family: var(--font-family-one);
  color: var(--very-light-gray);
  cursor: pointer;
}

/* First Column */
.card-data_contianer:first-child {
  background: var(--bright-orange);
}

.card-data_contianer:first-child button {
  color: var(--bright-orange);
}

.card-data_contianer:first-child button:hover {
  border: 1px solid var(--transparent-white);
  color: var(--transparent-white);
  background: var(--bright-orange);
}
