.card-data_contianer {
  height: 600px;
  border: 1px solid;
}

.card-data_contianer img {
}

.card-data_contianer h1 {
  font-family: var(--font-family-two);
}

.card-data_contianer p {
  font-family: var(--font-family-one);
}

.card-data_contianer button {
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 50px;
  border-style: none;
  color: var(--very-light-gray);
}

.card-data_contianer button:hover {
  border: 1px solid var(--very-light-gray);
}
