/* Genereal Rules */
.card-data_contianer {
  flex: 1;
  padding: 50px 80px 0 80px;
  border: 1px solid;
}

.card-data_contianer h1 {
  margin-top: 2rem;
  color: var(--very-light-gray);
  font-family: var(--font-family-two);
}

.card-data_contianer p {
  margin-top: 2rem;
  line-height: 1.75rem;
  font-size: 15px;
  color: var(--transparent-white);
  font-family: var(--font-family-one);
  border: 1px solid;
}

.card-data_contianer button {
  width: 9.375rem;
  height: 3.125rem;
  margin-top: 2rem;
  border-radius: 50px;
  border-style: none;
  font-family: var(--font-family-one);
  color: var(--very-light-gray);
  cursor: pointer;
}

/* First Column */
.card-data_contianer:first-child {
  background: var(--bright-orange);
}

.card-data_contianer:first-child button {
  color: var(--bright-orange);
}

.card-data_contianer:first-child button:hover {
  border: 1px solid var(--transparent-white);
  color: var(--transparent-white);
  background: var(--bright-orange);
}

/* Second Column */
.card-data_contianer:nth-child(2) {
  background: var(--dark-cyan);
}

.card-data_contianer:nth-child(2) button {
  color: var(--dark-cyan);
}

.card-data_contianer:nth-child(2) button:hover {
  border: 1px solid var(--transparent-white);
  color: var(--transparent-white);
  background: var(--dark-cyan);
}

/* Third Column */
.card-data_contianer:nth-child(3) {
  background: var(--very-dark-cyan);
}

.card-data_contianer:nth-child(3) button {
  color: var(--very-dark-cyan);
}

.card-data_contianer:nth-child(3) button:hover {
  border: 1px solid var(--transparent-white);
  color: var(--transparent-white);
  background: var(--very-dark-cyan);
}

/* Conditional Section */
/* Mobile Rules */
@media screen and (max-width: 540px) {
  /* Column One */
  .card-data_contianer:first-child {
    border-radius: 15px 15px 0 0;
  }

  .card-data_contianer:nth-child(3) {
    border-radius: 0 0 15px 15px;
  }
}

/* Desktop Rules */
@media screen and (min-width: 540px) {
}
